<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  使用mapper接口
  namespace : 与mapper接口同包同名
-->
<mapper namespace="com.dqy.mapper.DepartmentsMapper">


<!--    查询指定等级科室的信息-->
    <select id="selectDepartmentsByLevel" resultType="com.dqy.pojo.Departments">
        select * from departments where department_level = #{departmentLevel}
    </select>
<!--    根据父科室的id查询对应子科室的集合-->
    <select id="selectByPid" resultType="com.dqy.pojo.Departments">
        select * from departments where department_pid=#{departmentPid}
    </select>

<!--    添加新科室，并返回新生成的主键ID，添加时，方法参数为科室对象，因此参数占位符必须与属性名相同-->
    <insert id="addDepartment" keyProperty="departmentId" useGeneratedKeys="true">
        insert into departments(department_name, department_pid, department_level, department_description)
        values(#{departmentName}, #{departmentPid}, #{departmentLevel}, #{departmentDescription})
    </insert>

<!--    修改指定科室的路径-->
    <update id="changePath">
        update departments set department_path = #{departmentPath} where department_id = #{departmentId}
    </update>

<!--查询指定编号的科室信息-->
    <select id="selectById" resultType="com.dqy.pojo.Departments">
        select * from departments where department_id = #{departmentId}
    </select>

    <delete id="delDepartment">
        delete from departments where department_id = #{departmentId}
    </delete>


</mapper>